[Desktop Entry]
Name=YouTube
Type=Application
Icon=icon.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true

X-Ubuntu-Splash-Color=#ffffff
X-Ubuntu-Splash-Image=icon-splash.png

Name[en_US]=YouTube
